.header {
    margin: 0;
    padding-left: 30%;
    display: flex;
    align-items: center;
    font-size: 45px;
    min-height: 150px;
    font-weight: lighter;
    background-color: #0b1f3a;
    text-decoration: none;
    color: #fff;
}

.header:hover {
    color: goldenrod;
}