.goBackButton {
    background-color: white;
    margin: 0 10px;
    font-size: 16px;
    line-height: 20px;
    border: 1px solid black;
    padding: 10px 18px;
    cursor: pointer;
}

.goBackButton:hover {
    background-color: goldenrod;
}

p {
    margin: 30px;
}

.noteMain {
    background-color: white;
}

.note {
    background-color: #030f1f;
    margin: 20px;
    padding: 15px;
    position: relative;
}

.noteContent {
    font-size: 16px;
    line-height: 20px;
    padding: 10px 20px;
    background-color: white;
    margin: 20px;
}

.currentFolder {
    padding: 10px;
    margin: 20px 5px;
    text-align: center;
}