.App {
  font-family: Helvetica;
}

.container {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: grid;
  grid-template-columns: 30vw auto;
  grid-gap: 0;
  justify-items: stretch;
}

.sidebar {
  background-color: #0b1b32;
  color: #fff;
  width: 30vw;
  padding: 20px 0;
}

.mainContent {
  padding: 40px 0;
  background-color: #102541;
}

.button:hover {
  color: white;
  background-color: #29862e;
}

.deleteNoteButton:hover {
  color: white;
  background-color: #bd0909;
}

.folderLink:hover {
    color: white;
    background-color: slategray;
}

.noteName:hover {
    color: goldenrod;
}
