.folderUl {
    margin: 40px 10px;
  }
  
  .folderLi {
    list-style: none;
    font-size: 16px;
    line-height: 20px;
    margin: 10px auto;
  }
  
  .folderLink {
    padding: 18px;
    text-decoration: none;
    background-color: #030f1f;
    color: #b5b3b3;
    cursor: pointer;
    display: block;
  }
  
  .folderLink:hover {
    color: goldenrod;
  }
  
  .mainContentUl {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .mainContentLi {
    margin: 20px;
    padding: 15px;
    position: relative;
  }
  
  .noteHeader {
    color: white;
    font-weight: bold;
    font-size: 18px;
  }
  
  .noteName,
  .noteModified {
    margin: 10px 0;
    color: white;
  }
  
  .noteName {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    text-decoration: none;
    color: white;
  }